<footer class="footer">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="/contact">
                        Contact
                    </a>
                </li>
                <li>
                    <a href="/privacy">
                        Privacy
                    </a>
                </li>
                <li>
                    <a href="/licenses">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear());
            </script>
            <a href="https://bunnibyte.com/" target="_blank">BunniByte</a>, all rights reserved.
        </div>
    </div>
</footer>