<!-- Footer -->
<footer id="footer">
    <!-- Our mission -->
    <section>
        <h2>Our Mission</h2>
        <p>
            Our Mission is to provide creators with high-quality, cost-free assets to use for any project.
        </p>
        <ul class="actions">
            <li><a href="https://www.youtube.com/channel/UCDEeP2ywYaTdO8YmvNmp-Tw" target="_BLANK" class="button primary">YouTube</a></li>
            <li><a href="https://creatorassets.com/privacy" target="_BLANK" class="button">Privacy</a></li>
        </ul>
    </section>

    <!-- Info -->
    <section>
        <h2>Contact</h2>
        <dl class="alt">
            <p>You can contact us any time-- we'll respond ASAP. 😊</p>
            <dt>Email</dt>
            <dd><a href="mailto:contact@creatorassets.com" target="_BLANK">contact@creatorassets.com</a></dd>
        </dl>

    </section>

    <!-- Legal jargon -->
    <p class="copyright">&copy; <script>document.write(new Date().getFullYear())</script>. All rights reserved.</p>
</footer>
