<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/">
                <div class="logo-image"><img src="public/img/branding/horizontal.png" alt="ScratchConvert.com" class="img-fluid" /></div>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <!-- Contact -->
                <li class="nav-item">
                    <a class="nav-link" href="/contact">
                        <i class="material-icons">contact_support</i> Contact
                        <div class="ripple-container"></div>
                    </a>
                </li>

                <!-- Software -->
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <i class="material-icons">widgets</i> Software </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="about-us.html" class="dropdown-item"> <i class="material-icons">phonelink</i> Scratch2Gamemaker</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>