<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>

    <body class="about-us sidebar-collapse">
        {% include navigation.html %}

        <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('public/img/misc/header.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h1 class="title">{{ page.title }}</h1>
                        <br />
                    </div>
                </div>
            </div>
        </div>

        <div class="main main-raised">
            <div class="container">
                <!-- Post body -->
                <div class="section section-text">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            {{ content }}

                            <!-- Downloads section -->
                            <h3>Get These Assets..</h3>
                            <a href="https://twitter.com" class="btn btn-success btn-wide float-right"> <i class="fa fa-download" aria-hidden="true"></i> Download .mp3<div class="ripple-container"></div></a>
                            <a><i class="fa-question-circle" aria-hidden="true"></i> Which should I choose?</a>
                        </div>
                    </div>
                </div>

                <!-- Post info -->
                <div class="section section-blog-info">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <div class="row">

                                <!-- Tags -->
                                <div class="col-md-6">
                                    <div class="blog-tags">
                                        Tags:
                                        {% for tag in page.tags %}
                                            <span class="badge badge-primary badge-pill">{{ tag }}</span>
                                        {% endfor %}
                                    </div>
                                </div>

                                <!-- Share -->
                                <div class="col-md-6">
                                    <a href="https://twitter.com" class="btn btn-twitter btn-round float-right"> <i class="fab fa-twitter"></i> Twitter</a>
                                    <a href="https://facebook.com" class="btn btn-facebook btn-round float-right"> <i class="fab fa-facebook"></i> Facebook</a>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>

                <!-- Comments -->
                <div class="section section-comments">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <div class="media-area">
                                <h3 class="title text-center">What Do You Think?</h3>

                                <!-- Utteranc.es comments -->
                                <script src="https://utteranc.es/client.js"
                                        repo="BunniByte/scratchconvert.com"
                                        issue-term="pathname"
                                        label="💬"
                                        theme="github-light"
                                        crossorigin="anonymous"
                                        async>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- License -->
                <div class="section section-text">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <hr />

                            <h3 class="title text-center">Legal</h3>

                            <p>These assets are in the public domain within the United States.</p>

                            <p>We waive copyright and related rights in the work worldwide through the CC0 1.0 Universal public domain dedication.</p>

                            <p>You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission. (But giving credit is very much appreciated~!)</p>

                            <p>You can view the full Legal Code <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode" target="_BLANK">here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Read more section -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-center">More Free Assets..</h2>
                        <br />
                        <div class="row">


                            {% for post in site.posts limit:3 %}
                                {% if post.permalink != page.permalink %}
                                    <div class="col-md-4">
                                        <div class="card card-blog">
                                            <div class="card-header card-header-image">
                                                <a href="https://scratchconvert.com{{ post.permalink }}">
                                                    <img class="img img-raised" src="{{ post.thumbnail | default: site.thumbnail }}" />
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h6 class="category text-info">{{ post.category }}</h6>
                                                <h4 class="card-title">
                                                    <a href="https://scratchconvert.com{{ post.permalink }}">{{ post.title }}</a>
                                                </h4>
                                                <p class="card-description">
                                                    {{ post.description }}<a href="https://scratchconvert.com{{ post.permalink }}"> Read More </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include footer.html %}

        {% include scripts.html %}
    </body>
</html>
