<!DOCTYPE html>
<html lang="en">
    <head>
        {% include core-head.html %}
    </head>
    <body class="is-preload">
        <div id="https://creatorassets.com"></div>
        <div id="https://creatorassets.com/search"></div>
        <!-- Wrapper -->
        <div id="wrapper">
          <!-- Header -->
          <header id="header">
              <h1>{{ page.title | default: 😅 Undefined Title }}</h1>
              <p>{{ page.smalldesc }}</p>
          </header>

          <!-- sitewide warning ? -->
          {% include site-banner.html %}

        <nav id="nav">
            <ul>
                <li><a href="https://creatorassets.com">Home</a></li>
                <li><a href="{{ page.url | prepend: site.url }}" class="active">Article</a></li>
            </ul>
        </nav>

          <!-- Main -->
          <div id="main">
              <!-- Content -->
              <section id="content" class="main">
                  <!-- Post content -->
                  {{ content }}
              </section>
          </div>

          {% include footer.html %}

          {% include scripts.html %}
        </div>
    </body>
</html>
