<!DOCTYPE html>
<html lang="en">
    <head>
        {% include core-head.html %}
    </head>
    <body class="is-preload">
        <div id="https://creatorassets.com"></div>
        <div id="https://creatorassets.com/search"></div>
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <h1>{{ page.title | default: 😅 Undefined Title }}</h1>
                <p>{{ page.smalldesc }}</p>
            </header>

            <!-- sitewide warning ? -->
            {% include site-banner.html %}

            <nav id="nav">
                <ul>
                    <li><a href="https://creatorassets.com">Home</a></li>
                    <li><a href="{{ page.url | prepend: site.url }}" class="active">Asset</a></li>
                    <li><a href="https://creatorassets.com/search">Search...</a></li>
                </ul>
            </nav>

            <!-- Main -->
            <div id="main">
                <!-- Content -->
                <section id="content" class="main">
                    <!-- Post content -->
                    {{ content }}

                    <!-- video -->
                    {% if page.video-id != null %}
                    <center>
                        <iframe
                            style="max-width: 100%; border-radius: 8px;"
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/{{ page.video-id }}"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                        ></iframe>
                        <p>
                            <i><small>(Official asset download page for this video. 😊)</small></i>
                        </p>
                    </center>
                    {% endif %}

                    <!-- downloads -->
                    <hr />
                    <center><h3>Get These Assets</h3></center>

                    {% if page.sounds.size > 0 %}<strong>Download Full Track</strong>{% endif %}
                    <ul class="actions">
                        <li><a href="/cdn/{{ page.cdn-folder}}/{{ page.cdn-folder}}.mp3" download="{{ page.title }} (MP3)" class="button primary">Download .mp3</a></li>
                        <li><a href="/cdn/{{ page.cdn-folder}}/{{ page.cdn-folder}}.flac" download="{{ page.title }} (Lossless)" class="button">Download Lossless (.flac)</a></li>
                    </ul>

                    {% if page.sounds.size > 0 %}

                    <strong>Download Individually</strong><br />

                    {% for sound in page.sounds %}
                    <div class="ready-player-1 player-with-download">
                        <audio crossorigin>
                            <source src="/cdn/{{ page.cdn-folder}}/{{ sound }}" type="audio/mpeg" />
                        </audio>
                    </div>

                    <br />
                    {% endfor %} {% else %}
                    <div class="ready-player-1 player-with-download">
                        <audio crossorigin>
                            <source src="/cdn/{{ page.cdn-folder}}/{{ page.cdn-folder}}.mp3" type="audio/mpeg" />
                        </audio>
                    </div>
                    {% endif %}
                    
                    <!-- Legal -->
                    
                    <!-- Legal -->
                    <hr />
                    <center><h3>Legal</h3></center>

                    <strong>Summary</strong>
                    <p>😄 We're so happy you chose Creator Assets to help make your project something awesome. We are so glad to be helping creators enhance their projects, and create something beautiful.</p>

                    <p>
                        We know legal stuff can be scary, but we licensed these assets in the most straightforward and transparent way for you, the creator. We want you to spend less time worrying about licenses and credits, but rather on
                        simply doing what you do best-- making awesome stuff for the world.
                    </p>

                    <p>
                        These assets are listed in the <strong>Public Domain</strong>. That means that you can use these assets in <strong>any</strong> project without crediting. Of course, we really really appreciate your crediting, but
                        it's by no means required, and it's totally alright if you choose not to credit.
                    </p>

                    <p>❤️ We really hope you enjoy using our assets as much as we had fun making them. Thank you.</p>

                    <strong>Full License</strong>
                    <pre><code>
The person who associated a work with this deed has dedicated the work to the public domain by waiving all of his or her rights to the work worldwide under copyright law, including all related and neighboring rights, to the extent allowed by law.

You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission. See Other Information below.

--- Other Information ---
- In no way are the patent or trademark rights of any person affected by CC0, nor are the rights that other persons may have in the work or in how the work is used, such as publicity or privacy rights.
- Unless expressly stated otherwise, the person who associated a work with this deed makes no warranties about the work, and disclaims liability for all uses of the work, to the fullest extent permitted by applicable law.
- When using or citing the work, you should not imply endorsement by the author or the affirmer.
                  </code></pre>
                </section>
            </div>

            {% include footer.html %} {% include scripts.html %}
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                GreenAudioPlayer.init({
                    selector: ".player",
                    stopOthersOnPlay: true,
                });

                GreenAudioPlayer.init({
                    selector: ".player-with-download",
                    stopOthersOnPlay: true,
                    showDownloadButton: true,
                    enableKeystrokes: true,
                });

                GreenAudioPlayer.init({
                    selector: ".player-with-accessibility",
                    stopOthersOnPlay: true,
                    enableKeystrokes: true,
                });
            });
        </script>
    </body>
</html>