<!DOCTYPE html>
<html lang="en">
    <head>
        {% include core-head.html %}
    </head>
    <body class="is-preload">
        <!-- Wrapper -->
        <div id="wrapper">
          <!-- Header -->
          <header id="header">
              <h1>{{ page.title | default: 😅 Undefined Title }}</h1>
              <p>{{ page.smalldesc }}</p>
          </header>

          <!-- Main -->
          <div id="main">
              <!-- Content -->
              <section id="content" class="main">
                  <!-- Post content -->
                  {{ content }}

                  <!-- video -->
                  {% if page.video-id != null %}
                    <center>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.video-id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <p><i><small>(Official asset download page for this video. 😊)</small></i></p>
                    </center>
                  {% endif %}

                  <!-- downloads -->
                  <center><h3>Get These Assets..</h3></center>

                  <strong>Download full tracks</strong>
                  <ul class="actions">
										<li><a href="#" class="button primary">Download .mp3 (25MB)</a></li>
										<li><a href="#" class="button">Download .ogg (72MB)</a></li>
									</ul>

                  <strong>Download Individually..</strong>

                  <div class="ready-player-1 player-with-download">
                      <audio crossorigin>
                          <source src="/audio/examples/audio/example-1.mp3" type="audio/mpeg">
                      </audio>
                  </div>

                  <br />

                  <div class="ready-player-1 player-with-download">
                      <audio crossorigin>
                          <source src="/audio/examples/audio/example-1.mp3" type="audio/mpeg">
                      </audio>
                  </div>

                  <br />

                  <div class="ready-player-1 player-with-download">
                      <audio crossorigin>
                          <source src="/audio/examples/audio/example-1.mp3" type="audio/mpeg">
                      </audio>
                  </div>

                  <br />

                  <!-- Legal -->
                  <center><h3>Legal Stuff</h3></center>
                  <pre>
                    The person who associated a work with this deed has dedicated the work to the public domain by waiving all of his or her rights to the work worldwide under copyright law, including all related and neighboring rights, to the extent allowed by law. 
                  </pre>
              </section>
          </div>

          {% include footer.html %}

          {% include scripts.html %}
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                GreenAudioPlayer.init({
                    selector: '.player',
                    stopOthersOnPlay: true
                });

                GreenAudioPlayer.init({
                    selector: '.player-with-download',
                    stopOthersOnPlay: true,
                    showDownloadButton: true,
                    enableKeystrokes: true
                });

                GreenAudioPlayer.init({
                    selector: '.player-with-accessibility',
                    stopOthersOnPlay: true,
                    enableKeystrokes: true
                });
            });
        </script>
    </body>
</html>
