<!DOCTYPE html>
<html lang="en">
    <head>
        {% include core-head.html %}
    </head>
    <body class="is-preload">
        <!-- Wrapper -->
        <div id="wrapper">
          <!-- Header -->
          <header id="header">
              <h1>{{ page.title | default: 😅 Undefined Title }}</h1>
              <p>{{ page.smalldesc }}</p>
          </header>

          <!-- Main -->
          <div id="main">
              <!-- Content -->
              <section id="content" class="main">
                  <!-- Header image -->
                  <span class="image main"><img src="/images/{{ page.image | image-placeholder.jpg }}" alt="" /></span>

                  <!-- video -->
                  {% if page.video-id != null %}
                    <center>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.video-id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </center>
                  {% endif %}

                  <!-- Post content -->
                  {{ content }}
              </section>
          </div>

          {% include footer.html %}

          {% include scripts.html %}
        </div>
    </body>
</html>
